   
        <nav class="navbar-default navbar-static-top" ng-controller="home as rootvm">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">SISLottery</a>
                </div>
                <ul class="nav navbar-nav">
                    <li routerLink="/draw" routerLinkActive="active"><a routerLink="/draw">New Draw</a></li>
                    <li routerLink="/search" routerLinkActive="active"><a routerLink="/search">Search</a></li>
                </ul>
            </div>
        </nav>
        <router-outlet></router-outlet>